ago==0.1.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiomysql==0.2.0
aiosignal==1.3.2
aiosqlite==0.21.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
attrs==25.3.0
Automat==24.8.1
beautifulsoup4==4.12.3
blinker==1.9.0
boto3==1.37.23
botocore==1.37.23
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
constantly==23.10.4
Crawl4AI==0.6.0
cryptography==44.0.2
cssselect==1.3.0
deep-translator==1.11.4
defusedxml==0.7.1
distro==1.9.0
dotmap==1.3.30
elastic-transport==8.17.1
elasticsearch==8.17.2
faiss-cpu==1.10.0
fake-http-header==0.3.5
fake-useragent==2.2.0
fastapi==0.115.11
faust-cchardet==2.1.19
feedparser==6.0.11
ffmpy==0.5.0
filelock==3.17.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
frozenlist==1.6.0
fsspec==2025.3.0
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.36.0
google-auth-oauthlib==1.2.1
googletrans==4.0.0rc1
gradio==5.21.0
gradio_client==1.7.2
greenlet==3.2.1
groovy==0.1.2
h11==0.14.0
h2==3.2.0
hjson==3.1.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.29.3
humanize==4.12.2
hurry.filesize==0.9
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
importlib_metadata==8.6.1
incremental==24.7.2
iniconfig==2.1.0
itemadapter==0.11.0
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langchain==0.3.20
langchain-core==0.3.44
langchain-text-splitters==0.3.6
langdetect==1.0.9
langsmith==0.3.13
litellm==1.67.1
lorem==0.1.1
lxml==5.3.1
lxml_html_clean==0.4.1
mangum==0.19.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
multidict==6.4.3
mysql-connector-python==9.1.0
narwhals==1.33.0
news-please==1.6.14
newspaper4k==0.9.3.1
nltk==3.9.1
numpy==2.2.3
oauthlib==3.2.2
openai==1.76.0
orjson==3.10.15
packaging==24.2
pandas==2.2.3
parsel==1.10.0
pillow==10.4.0
plac==1.4.3
playwright==1.51.0
plotly==6.0.1
pluggy==1.5.0
propcache==0.3.1
Protego==0.4.0
protobuf==5.29.4
psutil==7.0.0
psycopg2-binary==2.9.10
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
PyDispatcher==2.0.7
pydub==0.25.1
pyee==12.1.1
Pygments==2.19.1
PyMySQL==1.1.1
pyOpenSSL==25.0.0
pyperclip==1.9.0
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2025.1
PyYAML==6.0.2
queuelib==1.7.0
rank-bm25==0.2.2
readability-lxml==0.8.1
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.9.4
rpds-py==0.24.0
rsa==4.9
ruff==0.10.0
s3transfer==0.11.4
safehttpx==0.1.6
Scrapy==2.12.0
semantic-version==2.10.0
service-identity==24.2.0
setuptools==78.1.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
SQLAlchemy==2.0.39
starlette==0.46.1
streamlit==1.44.1
tenacity==9.0.0
tf-playwright-stealth==1.1.2
tiktoken==0.9.0
tldextract==5.1.3
tokenizers==0.21.1
toml==0.10.2
tomlkit==0.13.2
tornado==6.4.2
tqdm==4.67.1
Twisted==24.11.0
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
uvicorn==0.34.0
w3lib==2.3.1
warcio==1.7.5
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.3
xxhash==3.5.0
yarl==1.20.0
zipp==3.21.0
zope.interface==7.2
zstandard==0.23.0
